@model HookHub.Core.Workers.Worker
@section Scripts {

    <script>
        window.hookHubConfig = {
            apiUrl: '@Url.Action("Index", "Hook")',
            hubUrl: '@Model.Hook.HookConnection.HookHubNetURL',
            hookName: '@Model.Hook.HookConnection.HookName' + '-web'
        };
    </script>

    <script src="~/js/home-index.js" asp-append-version="true"></script>
    <script src="~/js/signalr.min.js" asp-append-version="true"></script>
    <script src="~/js/hook.js" asp-append-version="true"></script>

}

<link rel="stylesheet" href="~/css/home-index.css" asp-append-version="true" />

<div class="container-fluid">
    <div class="row g-3">
        <div class="col-md-8 offset-md-2">

            <!-- ACTIONS -->
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                <h5 class="mb-0">Actions</h5>

                <div class="d-flex gap-2">
                    <button class="btn btn-success" onclick="callHookAction('/Hook/Start')">Start Hook</button>
                    <button class="btn btn-danger" onclick="callHookAction('/Hook/Stop')">Stop Hook</button>
                    <button class="btn btn-warning" onclick="callHookAction('/Hook/Restart')">Restart Hook</button>
                </div>
            </div>

            <hr />

            <!-- HOOK INFO -->
            <div class="card shadow-sm">
                <table class="table table-striped align-middle mb-0">
                    <tbody id="hookInfoTable">
                        <!-- filled by JS -->
                    </tbody>
                </table>
            </div>

            <hr />

            <!-- MESSAGE LOG -->
            <div class="card shadow-sm h-40">
                <div class="card-body log-box">
                    <ul id="listMessage" class="listMessage"></ul>
                </div>
            </div>

        </div>
    </div>
</div>